* {
    box-sizing: border-box;
    margin: 0;
    font-size: 40px;

}


.container {
    background: darkviolet;
    color: white;
}

.margin-top-bottom-60px {
    margin: 60px 0;
}

.child {
    border: 6px solid salmon;
    background: goldenrod;
    width: 300px;
    height: 300px;
    font-size: 0.5rem;
    padding: 20px;
}
